*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------navbar----------------- */
header{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background: hsl(172, 85%, 28%);
    width: 100%;
    height: 80px;
}

.logo{ 
    color:white;
}

.logo span{
    color: rgb(36, 205, 231);
    font-size: 1rem;
}

nav a{
    color:white;
    text-decoration: none;
    margin-right: 1rem;
    

}

nav a.active{
    color:  rgb(36, 205, 231);
}

/* -----------------------section img------------------- */


 .home .text{
    margin: 40px 200px;
    background: url(images/construction.jpg);
    height: 500px;
    width: 70%;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1cm;
    font-style:italic ;

}

.intro{
    display: flex;
    /* justify-content: space-around; */ 
    /* padding:25px 200px; */
}

.intro .leftside{
    /* margin: 0px 30px; */
    
}
.intro .rightside{
    /* margin:0px 30px; */
}
.leftside p{
    color:red;
    font-style: italic;
    line-height: 0.8cm;

}

 